@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;800&family=Space+Grotesk:wght@400;500;700&display=swap');

:root{
  --primary:#22C55E;
  --primary-dark:#15803D;
  --accent:#84CC16;

  --dark:#081018;
  --dark-card:#101B26;

  --light:#F8FAFC;
  --gray:#94A3B8;

  --container:1280px;

  --radius:24px;

  --shadow:0 20px 50px rgba(0,0,0,.25);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'DM Sans',sans-serif;
  background:var(--dark);
  color:white;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
  font-family:inherit;
}

img{
  width:100%;
  display:block;
}

.container{
  width:min(92%,var(--container));
  margin:auto;
}

.section{
  padding:100px 0;
}